#comments{
	&:extend(.margin-top-md, .bg-white, .pad-medium, #box-shadow .box-shadow-md );
	.media{
		&:extend( .margin-bottom-md );
		.media-left{
			p{
			&:extend(.margin-top-xs);
			}
		}
		.media-body{
			&:extend(.relative);
			time{
			&:extend(.font-small, .oblique, .dark);
			}
			.comment-content{
			&:extend(.pad-small,.no-left-padding);
			}
			.list-inline{
			.collapse.in{
				&:extend(.inline);
			}
			}
		}
		.media-heading{
			.secondary{
				&:extend(.oblique, .gray);
			}
		}
	}
	ol.children{
		&:extend( .margin-top-sm );
	}
	.comment-list > .comment{
		&:extend(.pad-small);
	}
	.parent{
		border-left: 3px solid @primary-color;
	}
	#reply-title { }
	#cancel-comment-reply-link { }
	#commentform { }
	#author { }
	#email { }
	#url { }
	#comment{}

	.comment-notes { }
	.required { }
	.comment-form-author, .comment-form-email{
		width: 45%;
		&:extend(.float-left, .pad-xs, .full-width-xs);
	}
	

	.comment-form-url { }
	.comment-form-comment, .comment-form-author {
		&:extend(.no-bottom-margin);
	 }

	.form-allowed-tags { }
	.form-submit {

	}
	.bypostauthor{
		&:extend(.bg-light, .pad-xs);
	}
}