#front-page {
	.frontpage-sections{
		&:extend(.pad-large);
		
	}
	#site-banner{
		&:extend(.relative);
		p{
			font-size: 20px;
		}
		#carousel{
			.carousel-image{
				width: 100% !important;
				height: 480px;
			}
			.carousel-caption{
				top: 10px;
				right: 15%;
				.page-header{
					&:extend(.pad-large .page-header);
					h1{&:extend(.font-large);}
				}
				#site-info{

				}
				#admin-profile{
					&:extend(.margin-top-md);
				}
			}//.carousel-caption
		}//#carousel
	}
	#services{
		.service-icons {
			min-height: 250px;
		}
		.more-service-icons{
			min-height: 150px;
		}
		.service-wrapper {
			&:extend(.margin-bottom-md);
		}

		.service-body{
			&:extend(.font-small);
		}
		
	}
	#contact{
		.contact-icon{
			&:extend(.float-left);

		}
		.contact-wrapper{
			&:extend(.margin-bottom-md);
		}

		.panel-default{
			&:extend(.no-border);
		}
		
	}
}

.page-header{
	&:extend(.no-bottom-border);
}