/*
* header styles 
*
*/
#sitehead {
	.navbar{
		margin-bottom: 0px;
	}
	.jumbotron{
		.pad-large;
	}
	#admin-info{
		padding-top: 30px;
		border-left: 2px dashed darken(@bg-color, 50%);
		padding-bottom: 30px;
	}
}
#header-contact{
	.row{
		.pad-small;
		border-top: 1px solid darken(@bg-color, 20%);
		border-bottom: 1px solid darken(@bg-color, 20%);
		background-color: darken(@bg-color, 10%);
		}
}

#header-top{
	#contact-me{
		margin-bottom: 0px;
		.pad-small;
	}
	.alert-dismissable .close{
	right: 0px;
	}
}