/*
* header styles 
*
*/
#sitehead {
		
	#admin-info{
		&:extend(.outer-pad-medium);
		
	}
	#header-top{
		.alert-dismissable {
			&:extend(.full-width, .no-bottom-margin);
			background-color: @bg-color-dark;
			padding-right: 15px !important;
			.close{
			right: 0px;
			}
		}
		.alert{
			padding: 10px;
		}
	}
	#main-header{
		&:extend(.bg-white);
		#header-contact{
			border-top: 4px solid @bg-color-dark;
		}
		.navbar-collapse{
			&:extend(.margin-top-md);
			
		}
		#menu-icon{
			li > a {
				&:extend( #custom-header #inner-header #menu-icon li > a);
			}
		}
	}
}

#custom-header{
	
	#header-top{
		&:extend(.bg-dark);
		Padding-right: 20px;
		.alert{
			&:extend(.no-bottom-margin);
		}
	}
	#inner-header{
		&:extend(.pad-small);
		#header-contact{
			&:extend(.font-small);
		}
		.navbar-header{

			.navbar-brand{
				height: auto !important;
				padding: 0px !important;
				font-size: 24px;
			}
			.custom-logo{
				width: 45px; 
				height: 45px;
			}
		}
		#menu-icon{
			li > a {
				padding: 5px;
			}
		}
		
	}
}



