/*
* header styles 
*
*/
#header-contact{
	margin-top: -20px;
	.row{
		.padding(@base-padding * 2);
		border-top: 1px solid darken(@bg-color, 20%);
		border-bottom: 1px solid darken(@bg-color, 20%);
		background-color: darken(@bg-color, 5%);
		}
}