#tool-tip{
	.tool-tip-box{
		position: relative;
			&::after{
				content: "";
    			position: absolute;
			    top: 100%;
			    left: 50%;
			    margin-left: -5px;
			    border-style: solid;
			    
			}
	}
}

.tooltip-box{
	&:extend(#tool-tip .tool-tip-box);
	&:after{
		&:extend(#tool-tip .tool-tip-box::after);
		border-width: 25px;
		border-color: #fff transparent transparent transparent;
		z-index: 50;
	}
	
}

@gutter: 10px;

.inline{
	float: left;
	
}
.inline(@grid: 2){
	&:extend(.inline);
	width: percentage(@grid)/10;
	margin-left: @gutter;
	margin-bottom: 20px;
	margin-top: 30px;

}

.inline-3{
	.inline(3);
}