/*
* Styling pages 
*
*/

#site-page{
	.page-content{
		&:extend(.pad-medium);
	}
	#page-content-header{
		.page-title-wrap{
				&:extend(.margin-bottom-sm, .bottom-border, .padding-bottom-sm);
		}
			
	}
	#page-content-header.has-thumbnail{
		#page-media{
			.wp-post-image{
			&:extend(.full-width-image);
			}
		}
	}
	.entry-content{
		&:extend(.bg-white,.pad-medium, .border-radius-md, .margin-top-md);
		blockquote{
			&:extend(.margin-left-sm, .pad-medium, .relative, .no-border);
			&:before, &:after{
				font-family:'FontAwesome';
				&:extend(.absolute, .flip-vertical); 
			}
			&:before{
				content: "\f10d";
				top: 10px;
				left: 3px;
			}
			&:after{
				content: "\f10e"; 
				bottom: 10px;
				right: 3px;
			}
		}
	}

	#primary-sidebar{
		&:extend(.outer-pad-lg);
		.widget{
			.widget-title{
				&:extend(.font-medium);
			}
		}
		.widget_abbey-contact-form{
			&:extend(.bg-white, .border-radius-md, .pad-small, #box-shadow .box-shadow-small, .border);
			border-bottom-width: 20px;
		}
	}
}


#error-404-page{
	.page-content{
		&:extend(.margin-bottom-md);

	}
	.entry-content{
		.page-header{
			&:extend(.dark, #text-shadow .text-shadow-md, .no-border);
			font-size: 8em;
			
		}
	}
	
}

/*
* custom page template
*
*/
#custom-page{
	#inner-content{
		&:extend(.pad-small, .inner-auto-margin);
		.post-thumbnail{
			img { 
				&:extend(.full-width-image);
				max-height: 480px;
			}
			.post-thumbnail-caption{
				&:extend(#custom-page .entry-content figure.alignleft .wp-caption-text, .text-capitalize, .text-right, .pad-xs);
			}
		}
	}
	.entry-content{
			&:extend(.responsive-right-border, .no-overflow);
			border-right-color: @gray-color !important;
			border-bottom-color: @gray-color !important;
			font-size: 15px;
			line-height: 2.0;
			figure.alignleft{
				&:extend(.border, #box-shadow .box-shadow-small);
				border-color: #eee;
				.wp-caption-text{
					&:extend(.font-small);
				}
				a img{
					&:extend(.full-width-image);
				}
			}
			.well{
				&:extend(.bg-light);
				border-color: @dark-primary-color;
			}
			.panel-heading, .panel-footer{
				&:extend(#custom-page .entry-content .well, .bottom-border);
			}
			.panel-default{
				border-color: @dark-primary-color;
			}
	}
	#page-sidebar{
			&:extend(.inner-pad-small, .padding-bottom-sm);
	}

	#page-content-header{
		&:extend(.pad-medium,.bg-light, .top-border, #box-shadow .box-shadow-small);
		#page-title-wrap{
			&:extend(.outer-pad-lg);
		}
		
	}
	.post-summary{
			&:extend(.font-small, .oblique);
	}
	.breadcrumb{
		&:extend(#post-page .breadcrumb);
	}

	#page-sidebar{
		&:extend(.outer-pad-lg);
		.widget{
			&:extend(.pad-small, .relative);
			.box-shadow(0px, 5px, 5px, 0px lighten(@gray-color, 2%));
			&:after{
				content: "";
				&:extend(.absolute); 
				border-width: 60px;
    			border-style: solid;
    			border-color: @bg-color @bg-color transparent transparent;
    			top: -30px; 
    			right: 0px;
    			z-index: 10;
			}
		}
		.widget_abbey-contact-form{
			&:extend(.bg-white);
		}
	}
}
