#post-page{
	#content{
		&:extend(.pad-medium);
	}
	#post-content-header{
		&:extend(.margin-top-sm);
		#post-info{
			.breadcrumb{ &:extend(.no-bg); }
			em{
				&:extend(.font-small,.gray);
			}
			.fa{
				font-size: 24px;
			}
		}
		.post-author{
			.post-author-name{
				&:extend(.margin-left-sm);
				vertical-align: middle;
			}
		}
	}
	.post-content{
		&:extend(.relative);
		.post-entry{
			&:extend(.pad-medium, .bg-white, .border-radius-md, 
			#box-shadow .box-shadow-small, .border, .no-bottom-padding);
			overflow: hidden;
			border-color: #ddd;
			.entry-content{
				&:extend(.padding-bottom-sm, .margin-bottom-md);
				figure.alignnone{
					&:extend(#box-shadow .box-shadow-small, .border, .margin-bottom-sm);
					border-radius: 0px 0px 10px 10px;
					border-color: @gray-color;
					figcaption{
						&:extend(.bg-gray);
					}
				}
					p > a{
						&:extend(#link .primary); 
						&:visited{

						}
						&:hover{
							&:extend(#link .primary:hover);
						}

					}
				.pagination{
					li >a{
						&:extend(#link .secondary);
						border-color: @primary-color !important;
						&:hover{
							&:extend(#link .secondary:hover);
						}
						
					}
					li.active > a{
						&:extend(#link .secondary .active);
					}
				}
				
			}//entry-content

			.entry-footer{
				&:extend(.margin-minus-left-md, .margin-minus-right-md, .margin-top-sm);
				color: #000;
				.post-navigation{
					.glyphicon{
						font-size: 48px;
						top: 10%;
					}
					.previous-post, .next-post{
						&:extend(.no-padding-left, .no-padding-right);
						.previous-button, .next-button{
							&:extend(#button .button-md, .block, .relative);
							padding-left: 80px !important;
							padding-right: 30px !important;
							&:hover{
								&:extend( #button .button-md:hover );
							}
							.glyphicon{
								&:extend(.absolute);
								left: 25px;
							}
						}
					}
					.next-post{
						.next-button{
							padding-left: 30px !important;
							padding-right: 80px !important;
							.glyphicon{
							left: 0px;
							right: 25px;
							}
						}
					}
				}
				.author-info{
					&:extend(.pad-medium, .margin-bottom-md, .bg-gray, .inner-pad-responsive);
					.author-photo, .author-title{
						&:extend(.inline);
					}
					.author-title{
						&:extend(.middle, .margin-left-sm);
						width: 75%;
					}
					.author-description{
						&:extend(.margin-top-sm);
					}
				}
			} //entry-footer
		}
		img.wp-post-image{
			&:extend(.full-width-image);
		}
		.page-title{
			&:extend(#text-shadow .text-shadow-small);
		}
		.post-excerpt{
			&:extend(.font-small, .pad-xs, .top-border, .bottom-border);
			
		}
	}
	.text-mute{
		&:extend(.light);
	}

}