#post-page{
	#post-content-header{
		&:extend(.margin-top-sm);
		& > .col-md-12{
			width: 70%;
		}
	}
	.post-content{
		&:extend(.relative);
		left: 5%;
		width: 70%;
		.post-entry{
			&:extend(.margin-top-md, .pad-medium, .bg-white, .border-radius-md, 
			#box-shadow .box-shadow-small, .border);
			overflow: hidden;
			border-color: #ddd;
			.entry-content{
				
				
			}

			.post-meta{
				&:extend(.bg-gray, .pad-medium);
				clear: both;
				margin-left: -40px;
				margin-right: -40px;
				margin-bottom: -40px;
			}
		}
		img.wp-post-image{
			&:extend(.full-width-image);
		}
		.page-title{
			font-size: 48px;
			&:extend(#text-shadow .text-shadow-small);
		}
		.post-excerpt{
			&:extend(.font-small, .pad-xs, .top-border, .bottom-border);
			
		}
	}
}