@screen-sm-max: 768px; 
@screen-md-max: 1026px;


@screen-xs: 468px;
@screen-lg: (@screen-md-max + 1); // 1026 + 1 = 1027 //

@screen-sm-min: (@screen-xs + 1px); // 468 + 1 = 469 //
@screen-md-min: (@screen-sm-max + 1); // 768 + 1 = 769 //


/* reponsive design for devices larger than 1027px */
@media(min-width: @screen-lg){
	.pad-large-lg{
		padding-left: 120px;
		padding-right: 120px;
	}
	.inner-pad-responsive{
		padding-left: 80px;
		padding-right: 80px;
	}

	.float-right-responsive{
		float: right;
	}
	
	.wid-70{
		width: 70% !important;
		clear: both;
	}
	.responsive-width(){
		@responsive-center-width: 60%;
	}
	#site-footer{
		#inner-footer{
			&:extend(.wid-70);
		}
	}
	.md-50{
		.responsive-width();
		width: @responsive-center-width;
		margin-left: auto;
		margin-right: auto;
		clear: both;
	}
	.responsive-right-border{
		border-right: 1px solid;
	}
	
	#primary-menu{
		.navbar-collapse{
			width: 85%;
		}

	}
	#site-page{

	}
	#post-page{
		.post-media{}
	}
	#custom-page{
		#inner-content{
			width: 90%;
		}
	}
	.no-padding-right-lg-screen{
		padding-right: 0px !important;
	}
	.page-title{
		font-size: 48px;
	}
	.half-largescreen{
		width: 48%;
	}
	.third-largescreen{
		width: 31%;
	}
}

/* responsive design for desktops i.e. between 769 and 1026px */
@media(min-width: @screen-md-min) and (max-width: @screen-md-max){
	.pad-large-md{
		padding-left: 120px;
		padding-right: 120px;
	}
	.inner-pad-responsive{
		padding-left: 50px;
		padding-right:50px;
	}
	.float-right-responsive{
		float: right;
	}

	.responsive-width(){
		@responsive-center-width: 70%;
	}
	.md-50{
		.responsive-width();
		width: @responsive-center-width;
		margin-left: auto;
		margin-right: auto;
		clear: both;
	}
	.responsive-right-border{
		border-right: 1px solid;
	}
	#main-header #header-contact{
		padding: 5px 15px 5px 15px;
	}
	.half-largescreen{
		width: 48%;
	}
}

/* responsive design for tablets i.e between 768 and 460px */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
	.float-none-sm{
		float: none;
	}
	.pad-large-sm{
		padding-left: 60px;
		padding-right: 60px;
	}

	.inner-pad-responsive{
		padding-left: 45px;
		padding-right: 45px;
	}

	.service-icons {
		min-height: 300px !important;
	}
	.more-service-icons{
		min-height: 200px !important;
	}
	.float-right-responsive{
		float: left;
	}

	.responsive-width(){
		@responsive-center-width: 70%;
	}
	.md-50{
		.responsive-width();
		width: @responsive-center-width;
		margin-left: auto;
		margin-right: auto;
		clear: both;
	}
	.responsive-right-border{
		border-bottom: 1px solid;
	}
	#main-header #header-contact{
		padding: 5px 15px 5px 15px;
	}
	#primary-menu{
		padding-top: 5px;
		.navbar-brand{
			padding-bottom: 5px;
		}
		.navbar-collapse{
			margin-left: -5px;
		}
		
	}
	#primary-icon-nav{
		background-color: @primary-color;
		li{
			display: inline-block;
		}
	}
	#site-banner{
		#carousel{
			.carousel-caption{
				left: 7% !important; 
				right: 7% !important;
			}
			.carousel-control{
				width: 10% !important;
			}
			.carousel-image{
				height: 540px !important;
			}
		}
		#admin-profile{
			border-top: 1px solid rgba(255,255,255,0.5);
			padding-top: 5px;
			#admin-info{
				text-align: left !important;
			}
			#admin-picture img{
				width: 90px;
				height: 90px;
			}
		}
	}
	.half-tablets{
		width: 46%;
	}
	.full-width-tablets{
		width: 100%;
	}
}


/* responsive styles for mobile phones i.e 468px and below */
@media (max-width: @screen-xs){
	.pad-large-xs{
		padding-left: 30px;
		padding-right: 30px;
	}
	.full-width-xs{
		float: none;
		width: 100%; 
		margin: auto;
	}

	.float-right-responsive{
		float: none;
	}
	.no-inner-padding-mobile{
		padding-left: 0px;
		padding-right: 0px;
	}
	.inner-pad-responsive{
		padding-left: 30px;
		padding-right: 30px;
	}
	.inner-padding-mobile{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.responsive-width(){
		@responsive-center-width: 85%;
	}
	.md-50{
		.responsive-width();
		width: @responsive-center-width;
		margin-left: auto;
		margin-right: auto;
		clear: both;
	}

	.block-mobile{
		display: block !important;
	}
	.responsive-right-border{
		border-bottom: 1px solid;
	}
	
	.service-icons {
		min-height: 300px !important;
	}
	.more-service-icons{
		min-height: 200px !important;
	}
	#main-header #header-contact{
		padding: 5px 15px 5px 15px;
	}
	.float-none-xs{
		float: none;
	}

	#primary-menu{
		.navbar-header{
			padding: 10px 10px 40px 10px;
			text-align: center;
			.navbar-brand{
				width: 100%;
				font-size: 36px;
			}
			.navbar-toggle{
				&:extend(.float-none-xs);
				margin-top: 0px;
				top: 80px;
				position: absolute;
				left: 45%;
				border-radius: 100%;
				padding: 15px;
				background-color: @white;
				&:hover,&:active{
					background-color: @primary-color;
				}
			}
		}
	}
	#inner-header{
		#header-social-icons{
			text-align: center;
		}
		.navbar-toggle{
			margin-top: 10px;
		}
	}
	#primary-icon-nav{
		li{
			display: inline-block;
		}
	}
	.entry-content{
		&:extend(.float-none-xs);
		figure.alignleft {
			max-width: 45% !important;
		}
	}
	.post-title{
		font-size: 36px;
	}

	
	.half-mobile{
		width: 46%;
	}
	.full-width-mobile{
		width: 100%;
	}
	#custom-page .entry-content,
	#custom-page #page-sidebar, 
	#search-page #search-results
	{
	 	&:extend(.no-inner-padding-mobile);
	}
	#post-page{
		#content{
			&:extend(.inner-padding-mobile);
		}
		#comments{
			&:extend(.inner-padding-mobile);
		}
		.post-excerpt{
			font-size: 14px;
		}
	}
	#search-page{
		#content{
			&:extend(.inner-padding-mobile);
		}
		#search-results{
			margin-top: 15px;
		}
	}
	.post-panel{
		.post-panel-heading, .post-panel-body, .post-panel-footer{
			&:extend(.inner-padding-mobile);
		} 
	}
	.breadcrumb{
		li + li:before{
			content: " | ";
			padding: 15px 5px;
			display: inline-block;
		}
	}
	.mini-popup{
		left: 5%;
	}
	

}