body{
	margin:0px;
	background-color: @bg-color;
	
	
}
.container-fluid, 
.container{
	overflow:hidden;
}

.navbar{
	.no-border-radius();
	&:extend(.no-bottom-margin);
}

.container-fluid .jumbotron{
	.no-border-radius();
	width: inherit; 
	.margin(0px -20px -20px 0px);
}

.bg-primary{
	background-color: @primary-color;
}
.bg-light{
	background-color: @primary-color-light;
}
.bg-dark{
	background-color: @dark-primary-color;
	color: #fff;
}
.bg-gray{
	background-color: @gray-color;
	&:extend(.dark);
}
.bg-white{
	background-color: @white;
	color: #000;
}
.white{
	color: #fff;
}
.light{
	color: @primary-color-light;
}
.dark{
	color: @dark-primary-color;
}

.primary{
	color: @primary-color;
}
.full-width{
	.no-border-radius();
	width: 100%;
	.no-border();

}

.pad-small{
	.padding(@base-padding * 1.5);
}
.pad-xs{
	.padding(@base-padding/2);
}

.pad-medium{
	.padding(@base-padding * 3);
}

.no-padding-right{
	padding-right: 0px !important;
}
.no-padding-left{
	padding-left: 0px !important;
}
.pad-large{
	padding-top:80px;
	padding-bottom: 100px;
	&:extend(.pad-large-sm, .pad-large-md, .pad-large-xs, .pad-large-lg);
		.page-header{
			border-bottom: 0px;
		}

}
.inner-pad-small{
	padding-left: @base-padding * 1.5;
	padding-right: @base-padding * 1.5;
}
.inner-pad-medium{
	padding-left: @base-padding * 4;
	padding-right: @base-padding * 4;
}
.outer-pad-medium{
	padding-top: @base-padding * 4;
	padding-bottom: @base-padding * 4;
}

.outer-pad-lg{
	padding-top: @base-padding * 8;
	padding-bottom: @base-padding * 8;
}

.inner-pad-lg{
	padding-left: @base-padding * 8;
	padding-right: @base-padding * 8;
}
.padding-bottom-sm{
	padding-bottom: @base-padding * 1.5;
}
.padding-top-sm{
	padding-top: @base-padding * 1.5;
}
.no-left-padding{
	padding-left: 0px;
}
.no-bottom-padding{
	padding-bottom: 0px;
}



.no-border{
	border:0px;
	border-radius: 0px;
}

.border{
	border: 1px solid @default-border-color;
}
.bottom-border{
	border-bottom: 1px solid @default-border-color;
}
.top-border{
	border-top: 1px solid @default-border-color;
}
.left-border{
	border-left: 1px solid @default-border-color;
}
.border-radius-md{
	border-radius: @default-border-radius;
}
.no-bottom-border{
	border-bottom: 0px;
}

.no-bottom-margin{
	margin-bottom: 0px;
}
.no-top-margin{
	margin-top: 0px;
}
.no-left-margin{
	margin-left: 0px;
}
.margin-top-sm{
	margin-top: 15px;
}

.margin-bottom-sm{
	margin-bottom: 15px;
}

.margin-top-md{
	margin-top: 30px;
}
.margin-bottom-md{
	margin-bottom: 30px;
}

.margin-right-sm{
	margin-right: 15px;
}
.margin-right-xs{
	margin-right: 7px;
}
.margin-left-xs{
	margin-left: 5px;
}
.margin-top-xs{
	margin-top: 5px;
}
.margin-left-sm{
	margin-left: 15px;
}
.margin-left-md{
	margin-left: 30px;
}
.margin-md{
	margin: 30px;
}
.inner-auto-margin{
	margin-left: auto;
	margin-right: auto;
}

.margin-minus-left-md{
	margin-left: -40px;
}
.margin-minus-right-md{
	margin-right: -40px;
}
.margin-minus-bottom-md{
	margin-bottom: -40px;
}

.margin-minus-left-sm{
	margin-left: -15px;
}
.margin-minus-bottom-sm{
	margin-bottom: -15px;
}
.margin-minus-right-sm{
	margin-right: -15px;
}

.font-small{
	font-size: 13px;
}
.font-large{
	font-size: 60px;
}
.strong{
	font-weight: 600;
}

.float-right{
	float: right;
}
.float-left{
	float: left;
}
.float-none{
	clear: both;
}

.inline{
	display: inline-block !important;
	width: auto;
	height: auto;
}
.middle{
	vertical-align: middle;
}
.block{
	display: block;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.fixed{
	position: fixed;
}

.icon-large{
	font-size: 7em;
}

.text-center{
	text-align: center;
}

.text-uppercase{
	text-transform: uppercase;
}

.text-capitalize{
	text-transform: capitalize;
}

.no-text-decoration{
	text-decoration: none;
}

.oblique{
	font-style: italic;
}

.full-width-image{
	width: 100% !important; 
	&:extend(.auto-height);
}
.auto-height{
	height: auto;
}
.max-full-width{
	max-width: 100% !important;
}

.entry-content{
	line-height: 1.5em;
	img[class*="align"],img[class*="wp-image-"] {
		&:extend(.auto-height) ;
	}
	img.size-full, img.size-large {
		&:extend(.max-full-width);
		width: auto; 
	}
	figcaption.wp-caption-text{
		&:extend(.oblique, .pad-small);
	}
	figure.alignnone {
		&:extend(.full-width-image, .text-center);
		img{
			&:extend(.max-full-width);
		}
	}
	figure.alignnone:hover, iframe[src *= "youtube"]:hover {
		.opacity(0.5);
		& a img{
			&:extend(.zoom-cursor);
		}
	}
	figure.alignleft{
		&:extend(.float-left, .margin-left-xs);
		max-width: 50% !important;
	}
	figure.alignleft + p{
		&:extend(.float-none);
	}
	& > p:first-of-type::first-letter{
		font-size: 64px;
		&:extend(.float-left, .dark, .margin-top-xs );
	}
	h2 {
		border-left: 3px solid @dark-primary-color;
		padding: 10px 3px 10px 40px;
		margin-left: -45px;
		&:extend(.text-uppercase);
	}
	iframe[src *= "youtube"]{
		&:extend(.max-full-width);
		min-height: 314px;
	}
				
}