body{
	margin:0px;
	background-color: @bg-color;
	
	
}
.container-fluid, 
.container{
	&:extend(.no-overflow);
}

.navbar{
	.no-border-radius();
	&:extend(.no-bottom-margin);
}

.container-fluid .jumbotron{
	.no-border-radius();
	width: inherit; 
	.margin(0px -20px -20px 0px);
}

a{
	&:extend(#link .primary);
	&:visited{
		&:extend(#link .primary:visited);
	}
	&:hover{
		&:extend(#link .primary:hover);
	}
}

.bg-primary{
	background-color: @primary-color;
}
.bg-light{
	background-color: @primary-color-light;
}
.bg-dark{
	background-color: @dark-primary-color;
	color: #fff;
}
.bg-gray{
	background-color: @gray-color;
}
.bg-white{
	background-color: @white;
	color: #000;
}
.no-bg{
	background-color: transparent !important;
}
.white{
	color: #fff;
}
.light{
	color: @primary-color-light;
}
.dark{
	color: @dark-primary-color;
}
.gray{
	color: @gray-color;
}

.primary{
	color: @primary-color;
}
.full-width{
	.no-border-radius();
	width: 100%;
	.no-border();

}

.pad-small{
	.padding(@base-padding * 1.5);
}
.pad-xs{
	.padding(@base-padding/2);
}

.pad-medium{
	.padding(@base-padding * 3);
}

.no-padding-right{
	padding-right: 0px !important;
}
.no-padding-left{
	padding-left: 0px !important;
}
.pad-large{
	padding-top:80px;
	padding-bottom: 100px;
	&:extend(.pad-large-sm, .pad-large-md, .pad-large-xs, .pad-large-lg);
		.page-header{
			border-bottom: 0px;
		}

}
.inner-pad-small{
	padding-left: @base-padding * 1.5;
	padding-right: @base-padding * 1.5;
}
.inner-pad-medium{
	padding-left: @base-padding * 4;
	padding-right: @base-padding * 4;
}
.outer-pad-medium{
	padding-top: @base-padding * 4;
	padding-bottom: @base-padding * 4;
}
.outer-pad-small{
	padding-top: @base-padding * 1.5;
	padding-bottom: @base-padding * 1.5;
}
.outer-pad-lg{
	padding-top: @base-padding * 8;
	padding-bottom: @base-padding * 8;
}

.inner-pad-lg{
	padding-left: @base-padding * 8;
	padding-right: @base-padding * 8;
}
.padding-bottom-sm{
	padding-bottom: @base-padding * 1.5;
}
.padding-top-sm{
	padding-top: @base-padding * 1.5;
}
.padding-right-sm{
	padding-right: @base-padding * 1.5;
}
.padding-left-sm{
	padding-left: @base-padding * 1.5;
}
.no-left-padding{
	padding-left: 0px;
}
.no-right-padding{
	padding-right: 0px;
}
.no-bottom-padding{
	padding-bottom: 0px;
}
.no-top-padding{
	padding-top: 0px;
}
.no-padding{
	padding: 0px;
}


.no-border{
	border:0px;
	border-radius: 0px;
}

.border{
	border: 1px solid @default-border-color;
}
.bottom-border{
	border-bottom: 1px solid @default-border-color;
}
.top-border{
	border-top: 1px solid @default-border-color;
}
.left-border{
	border-left: 1px solid @default-border-color;
}
.border-radius-md{
	border-radius: @default-border-radius;
}
.no-bottom-border{
	border-bottom: 0px;
}

.no-bottom-margin{
	margin-bottom: 0px;
}
.no-top-margin{
	margin-top: 0px;
}
.no-left-margin{
	margin-left: 0px;
}
.no-right-margin{
	margin-right: 0px;
}
.margin-top-sm{
	margin-top: 15px;
}

.margin-bottom-sm{
	margin-bottom: 15px;
}

.margin-top-md{
	margin-top: 30px;
}
.margin-bottom-md{
	margin-bottom: 30px;
}

.margin-right-sm{
	margin-right: 15px;
}
.margin-right-xs{
	margin-right: 7px;
}
.margin-left-xs{
	margin-left: 5px;
}
.margin-top-xs{
	margin-top: 5px;
}
.margin-left-sm{
	margin-left: 15px;
}
.margin-left-md{
	margin-left: 30px;
}
.margin-md{
	margin: 30px;
}
.inner-auto-margin{
	margin-left: auto;
	margin-right: auto;
}
.no-margin{
	margin: 0px;
}

.margin-minus-left-md{
	margin-left: -30px;
}
.margin-minus-right-md{
	margin-right: -30px;
}
.margin-minus-bottom-md{
	margin-bottom: -30px;
}

.margin-minus-left-sm{
	margin-left: -15px;
}
.margin-minus-bottom-sm{
	margin-bottom: -15px;
}
.margin-minus-right-sm{
	margin-right: -15px;
}

.margin-minus-top-sm{
	margin-top: -15px;
}
.font-small{
	font-size: 13px;
}
.font-large{
	font-size: 60px;
}
.font-medium{
	font-size: 24px;
}
.strong{
	font-weight: 600;
}

.float-right{
	float: right;
}
.float-left{
	float: left;
}
.float-none{
	clear: both;
	display: block;
}

.screen-reader-text{
	&:extend(.no-display);
}

.inline{
	display: inline-block !important;
	width: auto;
	height: auto;
}
.middle{
	vertical-align: middle;
}
.block{
	display: block;
}
.table-cell{
	display: table-cell;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.fixed{
	position: fixed;
}
.no-overflow{
	overflow: hidden;
}
.no-display{
	display: none !important;
}
.icon-large{
	font-size: 7em;
}

.text-center{
	text-align: center;
}

.text-justify{
	text-align: justify;
}
.text-right{
	text-align: right;
}

.text-uppercase{
	text-transform: uppercase;
}

.text-capitalize{
	text-transform: capitalize;
}

.no-text-decoration{
	text-decoration: none;
}

.oblique{
	font-style: italic;
}

.full-width-image{
	width: 100% !important; 
	&:extend(.auto-height);
}
.auto-height{
	height: auto;
}
.max-full-width{
	max-width: 100% !important;
}
.full-width{
	width: 100%;
}

.entry-content{
	line-height: 24px;
	&:extend(.pad-medium);
	img[class*="align"],img[class*="wp-image-"] {
		&:extend(.auto-height) ;
	}
	img.size-full, img.size-large {
		&:extend(.max-full-width);
		width: auto; 
	}
	figure{
		&:extend(.margin-bottom-sm);
	}
	figcaption.wp-caption-text{
		&:extend(.oblique, .pad-small, .font-small);
	}
	figure.alignnone {
		&:extend(.full-width-image, .text-center, .float-none);
		img{
			&:extend(.max-full-width);
		}
	}

	figure.alignleft, figure.alignright {
		&:extend(.margin-right-xs);
		max-width: 48% !important;
	}
	figure.alignleft{
		&:extend(.float-left);
	}
	figure.alignright{
		&:extend(.float-right);
	}

	figure.alignleft + :not(.alignleft){
		&:extend(.float-none);
	}
	
	iframe[src *= "youtube"]{
		&:extend(.max-full-width);
		min-height: 314px;
	}
	.gallery{
		&:extend(.margin-top-sm, .margin-bottom-sm, .max-full-width);
	}
	.gallery-item{
		&:extend(.relative, .no-overflow, .no-border);
		img{
			&:extend(.full-width-image);
		}
	}
	.gallery-columns-2{
		&:extend(.margin-right-xs);
	}
	.gallery-columns-1{
		&:extend(.pad-medium);
		.gallery-item{
			&:extend(.block, .margin-top-sm, .full-width);
		}
	}
	.gallery-columns-3, 
	div[class*="columns-4"]{
		.gallery-item{
			&:extend(.inline, .margin-right-xs, .margin-top-xs, .third-largescreen, .half-mobile, .half-tablets);
			vertical-align: top;
		}
	}
	
	table{
		width: 100% !important;
		height: auto !important;
		border-collapse: collapse;
		&:extend(.float-none, .margin-top-sm, .margin-bottom-sm); 
		th, td{
			&:extend(.padding-top-sm, .padding-bottom-sm, .pad-xs, .bottom-border);
			vertical-align: top;
		}
		th{
		border-width: 2px;
		&:extend(.text-uppercase, .dark, .bg-light);
		}
		tr:last-child td{
			&:extend(.no-bottom-border);
		}
		tr:hover{
		&:extend(.bg-light, .strong);
		}
		td{
		}
	}
				
}

#search-form{
	&:extend(.margin-top-sm);
	.input-group{
		.form-control{ 
			padding: 10px;
			border-radius: 10px 0px 0px 10px;
			&:extend(.auto-height);
		}
		.btn{ padding: 10px 20px;}
	}
}

#content > .row{
	&:extend(.no-left-padding, .no-right-padding, .no-left-margin, .no-right-margin);
}