body{
	margin:0px;
	background-color: @bg-color;
	
}
.container-fluid, 
.container{
	overflow:hidden;
}

.navbar{
	.no-border-radius();
}

.container-fluid .jumbotron{
	.no-border-radius();
	width: inherit; 
	.margin(0px -20px -20px 0px);
}

.bg-light{
	background-color: @primary-color-light;
}
.bg-dark{
	background-color: @primary-color-dark;
	color: #fff;
}
.white{
	color: #fff;
}
.dark{
	color: @primary-color-dark;
}

.primary{
	color: @primary-color;
}
.full-width{
	.no-border-radius();
	width: 100%;
	.no-border();

}
.close{
	color: inherit !important;
}

.pad-medium{
	.padding(@base-padding * 2);
}

.pad-xx{
	.padding(@base-padding * 6 );
}
.inner-pad-medium{
	padding-left: @base-padding * 4;
	padding-right: @base-padding * 4;
}

.border-y{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.no-bottom-margin{
	margin-bottom: 0px;
}