@bg-color:#eee;

@primary-color:#FF6600; 

@text-color: #171717;

@dark-primary-color: #CC5100; // darken(@primary-color, 15%)

@light-primary-color: #FF8432; //lighten(@primary-color, 20%)


@default-border-radius: 10px;

@base-padding: 10px;

@gray-color: #ddd;


