/*
Theme Name: Abbey
Theme URI: https://rmodiary.com/abbey
Author: Rabiu Mustapha
Author URI: https://rmodiary.com
Description: Abbey is my first wordpress theme.
Version: 0.1
Tags: black, blue, gray, red, white, yellow, dark, light, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: abbey


*/
body {
  margin: 0px;
  background-color: #f8f8f8;
}
.navbar {
  border-radius: 0px;
}
.container-fluid .jumbotron {
  border-radius: 0px;
  width: inherit;
  margin: 0px -20px -20px 0px;
}
.bg-primary,
#custom-header #inner-header .navbar-header .navbar-toggle {
  background-color: #FF6600;
}
.bg-light,
.entry-content table th,
.entry-content table tr:hover,
#custom-header .navbar,
#custom-page .entry-content .well,
#custom-page #page-content-header,
#post-page .entry-content figure.alignleft,
#post-page .entry-content figure.alignright,
#post-page .entry-content figure.alignnone,
#gallery-post-page .gallery-widgets:nth-child(even):not(:last-of-type),
#link .secondary:hover,
#site-footer,
#comments .bypostauthor,
#search-page .post-panel.post-count-1,
#custom-page .entry-content .panel-heading,
#custom-page .entry-content .panel-footer,
#post-page .pagination li > a:hover,
#quote-post-page #post-content-header,
#gallery-post-page #post-content-header {
  background-color: #ffefe5;
}
.bg-dark,
#custom-header #header-top,
#post-page .gallery-item figcaption,
#button .button-md:hover,
#link .secondary .active,
#post-page .pagination li.active > a,
#post-page .post-navigation .previous-post .previous-button:hover,
#post-page .post-navigation .next-post .previous-button:hover,
#post-page .post-navigation .previous-post .next-button:hover,
#post-page .post-navigation .next-post .next-button:hover,
#post-page #post-cats .categories-list a[rel='category']:hover {
  background-color: #b34700;
  color: #fff;
}
.bg-gray,
#post-page .author-info {
  background-color: #ddd;
}
.bg-white,
#sitehead #main-header,
#custom-header #inner-header,
#custom-header #inner-header .navbar-header .navbar-toggle .icon-bar,
#primary-menu,
#site-page .entry-content,
#site-page #primary-sidebar .widget_abbey-contact-form,
#custom-page #page-sidebar .widget_abbey-contact-form,
#post-page .post-entry,
#quote-post-page #post-content-header,
#quote-post-page .entry-content,
#gallery-post-page .entry-content .gallery-item:hover,
#gallery-post-page .gallery-widgets:last-of-type,
#button .button-md,
#link .secondary,
.mini-popup,
#sidebar-404 #latest-posts,
#comments,
#search-page #site-content-header,
#search-page .post-panel,
#search-page #search-results-summary,
#post-page .pagination li > a,
#post-page .post-navigation .previous-post .previous-button,
#post-page .post-navigation .next-post .previous-button,
#post-page .post-navigation .previous-post .next-button,
#post-page .post-navigation .next-post .next-button,
#post-page #post-cats .categories-list a[rel='category'],
#gallery-post-page #post-content-header {
  background-color: #fff;
  color: #000;
}
.no-bg,
#post-page .breadcrumb,
#quote-post-page .breadcrumb,
#custom-page .breadcrumb,
#search-page .breadcrumb {
  background-color: transparent !important;
}
.white {
  color: #fff;
}
.light,
#post-page .text-mute {
  color: #ffefe5;
}
.dark,
.entry-content table th,
#error-404-page .entry-content .page-header,
#post-page .breadcrumb,
#post-page .entry-content p em:only-child,
#post-page .entry-content > p:first-of-type::first-letter,
#link .primary:hover,
#comments .media .media-body time,
#search-page .post-panel-heading .top-post-info,
a:hover,
#custom-page .breadcrumb,
#post-page .entry-content p > a:not(img):hover,
#search-page .breadcrumb {
  color: #b34700;
}
.gray,
#post-page #post-cats .cats-note,
#comments .media .media-heading .secondary {
  color: #ddd;
}
.primary,
#button .button-md,
#link .primary,
#link .secondary,
a,
#post-page .pagination li > a,
#post-page .post-navigation .previous-post .previous-button,
#post-page .post-navigation .next-post .previous-button,
#post-page .post-navigation .previous-post .next-button,
#post-page .post-navigation .next-post .next-button,
#post-page #post-cats .categories-list a[rel='category'] {
  color: #FF6600;
}
.full-width,
.entry-content .gallery-columns-1 .gallery-item,
#sitehead #header-top .alert-dismissable {
  width: 100%;
  outline: 0px;
  border-color: transparent !important;
  border: 0px;
  border-radius: 0px;
}
.pad-small,
.entry-content figcaption.wp-caption-text,
#sitehead #header-top .alert-dismissable,
#custom-header #inner-header,
#site-page #primary-sidebar .widget_abbey-contact-form,
#custom-page #inner-content,
#custom-page #page-sidebar .widget,
#post-page .post-media .post-excerpt,
#gallery-post-page .gallery-widgets,
#site-footer #inner-footer #site-about,
#comments .media .media-body .comment-content,
#comments .comment-list > .comment,
#search-page .post-panel-heading,
#search-page .post-panel-body,
#search-page .post-panel-footer,
#search-page #search-results-summary,
#quote-post-page #quote-content,
#quote-post-page .entry-content footer,
#gallery-post-page #quote-content,
#search-page #content {
  padding: 15px;
}
.pad-xs,
.entry-content table th,
.entry-content table td,
#primary-menu .navbar-header,
#custom-page #inner-content .post-thumbnail .post-thumbnail-caption,
#post-page .entry-content p em:only-child,
#post-page .gallery-columns-2 .gallery-item,
#post-page .post-excerpt,
#comments .comment-form-author,
#comments .comment-form-email,
#comments .bypostauthor {
  padding: 5px;
}
.pad-medium,
.entry-content,
.entry-content .gallery-columns-1,
#site-page .page-content,
#site-page .entry-content,
#site-page .entry-content blockquote,
#custom-page #page-content-header,
#post-page #content,
#post-page .author-info,
#quote-post-page .post-entry,
#quote-post-page .entry-content,
#gallery-post-page #quote-content,
#sidebar-404 #latest-posts,
#comments,
#search-page #content,
#search-page .post-panel.post-count-1 .post-panel-heading,
#search-page .post-panel.post-count-1 .post-panel-body,
#search-page .post-panel.post-count-1 .post-panel-footer,
#quote-post-page #post-content-header,
#gallery-post-page #post-content-header {
  padding: 30px;
}
.no-padding-right,
#post-page .post-navigation .previous-post,
#post-page .post-navigation .next-post {
  padding-right: 0px !important;
}
.no-padding-left,
#post-page .post-navigation .previous-post,
#post-page .post-navigation .next-post {
  padding-left: 0px !important;
}
.pad-large,
#front-page .frontpage-sections {
  padding-top: 80px;
  padding-bottom: 100px;
}
.pad-large .page-header,
#front-page #site-banner #carousel .carousel-caption .page-header,
#sidebar-404 .page-header {
  border-bottom: 0px;
}
.inner-pad-small,
#custom-page #page-sidebar {
  padding-left: 15px;
  padding-right: 15px;
}
.inner-pad-medium,
#search-page .post-panel-heading,
#search-page .post-panel-body,
#search-page .post-panel-footer,
#quote-post-page .entry-content footer {
  padding-left: 40px;
  padding-right: 40px;
}
.outer-pad-medium,
#sitehead #admin-info,
#search-page #site-content-header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.outer-pad-small {
  padding-top: 15px;
  padding-bottom: 15px;
}
.outer-pad-lg,
#site-page #primary-sidebar,
#custom-page #page-content-header #page-title-wrap,
#custom-page #page-sidebar,
#quote-post-page #quote-content {
  padding-top: 80px;
  padding-bottom: 80px;
}
.inner-pad-lg,
#site-footer {
  padding-left: 80px;
  padding-right: 80px;
}
.padding-bottom-sm,
.entry-content table th,
.entry-content table td,
#site-page #page-content-header .page-title-wrap,
#custom-page #page-sidebar,
#post-page .entry-content h2 {
  padding-bottom: 15px;
}
.padding-top-sm,
.entry-content table th,
.entry-content table td,
#post-page .post-tags,
#post-page .entry-content h2 {
  padding-top: 15px;
}
.padding-right-sm,
#gallery-post-page .widget-icon {
  padding-right: 15px;
}
.padding-left-sm,
#post-page .post-tags,
#post-page .entry-content h2 {
  padding-left: 15px;
}
.no-left-padding,
#content > .row,
#post-page .breadcrumb,
#comments .media .media-body .comment-content,
#custom-page .breadcrumb,
#search-page .breadcrumb {
  padding-left: 0px;
}
.no-right-padding,
#content > .row {
  padding-right: 0px;
}
.no-bottom-padding {
  padding-bottom: 0px;
}
.no-top-padding {
  padding-top: 0px;
}
.no-padding,
#gallery-post-page #gallery-sidebar,
#search-page .breadcrumb {
  padding: 0px;
}
.no-border,
.entry-content .gallery-item,
#custom-header .navbar,
#primary-menu,
#front-page #contact .panel-default,
#site-page .entry-content blockquote,
#error-404-page .entry-content .page-header,
#gallery-post-page .gallery-widgets:last-of-type {
  border: 0px;
  border-radius: 0px;
}
.border,
#site-page #primary-sidebar .widget_abbey-contact-form,
#custom-page .entry-content figure.alignleft,
#post-page .post-entry,
#post-page .entry-content figure.alignleft,
#post-page .entry-content figure.alignright,
#post-page .entry-content figure.alignnone,
#gallery-post-page .entry-content .gallery-item:hover,
#gallery-post-page #gallery-sidebar,
#button .button-md,
#post-page .post-navigation .previous-post .previous-button,
#post-page .post-navigation .next-post .previous-button,
#post-page .post-navigation .previous-post .next-button,
#post-page .post-navigation .next-post .next-button,
#post-page #post-cats .categories-list a[rel='category'],
#gallery-post-page .entry-content .gallery-item {
  border: 1px solid #b34700;
}
.bottom-border,
.entry-content table th,
.entry-content table td,
#site-page #page-content-header .page-title-wrap,
#custom-page .entry-content .panel-heading,
#custom-page .entry-content .panel-footer,
#post-page .entry-content p em:only-child,
#gallery-post-page .gallery-widgets {
  border-bottom: 1px solid #b34700;
}
.top-border,
#custom-page #page-content-header,
#post-page .entry-content p em:only-child,
#quote-post-page #post-content-header,
#gallery-post-page #post-content-header {
  border-top: 1px solid #b34700;
}
.left-border,
#site-footer #inner-footer #site-about {
  border-left: 1px solid #b34700;
}
.border-radius-md,
#site-page .entry-content,
#site-page #primary-sidebar .widget_abbey-contact-form,
#post-page .post-entry,
#quote-post-page .post-entry,
#gallery-post-page #gallery-sidebar,
#search-page .post-panel.post-count-1 {
  border-radius: 10px;
}
.no-bottom-border,
.entry-content table tr:last-child td,
.page-header {
  border-bottom: 0px;
}
.no-bottom-margin,
.navbar,
#sitehead #header-top .alert-dismissable,
#custom-header #header-top .alert,
#comments .comment-form-comment,
#comments .comment-form-author {
  margin-bottom: 0px;
}
.no-top-margin {
  margin-top: 0px;
}
.no-left-margin,
#content > .row {
  margin-left: 0px;
}
.no-right-margin,
#content > .row {
  margin-right: 0px;
}
.margin-top-sm,
.entry-content .gallery,
.entry-content .gallery-columns-1 .gallery-item,
.entry-content table,
#search-form,
#post-page .entry-content p em:only-child,
#post-page .entry-footer,
#post-page .author-info .author-description,
#post-page .categories-list,
#comments ol.children,
#search-page .post-thumbnail + .post-excerpts {
  margin-top: 15px;
}
.margin-bottom-sm,
.entry-content figure,
.entry-content .gallery,
.entry-content table,
#site-page #page-content-header .page-title-wrap,
#post-page .entry-content,
#post-page .entry-content p em:only-child,
#post-page .categories-list,
#gallery-post-page .gallery-pictures-widget .widget-content a,
#search-page .post-panel {
  margin-bottom: 15px;
}
.margin-top-md,
#front-page #site-banner #carousel .carousel-caption #admin-profile,
#site-page .entry-content,
#site-footer,
#site-footer #footer-bottom,
#comments {
  margin-top: 30px;
}
.margin-bottom-md,
#front-page #services .service-wrapper,
#front-page #contact .contact-wrapper,
#error-404-page .page-content,
#post-page .post-excerpt,
#sidebar-404,
#comments .media,
#search-page .post-panel.post-count-1 {
  margin-bottom: 30px;
}
.margin-right-sm,
#post-page .categories-list li {
  margin-right: 15px;
}
.margin-right-xs,
.entry-content figure.alignleft,
.entry-content figure.alignright,
.entry-content .gallery-columns-2,
.entry-content .gallery-columns-3 .gallery-item,
.entry-content div[class*="columns-4"] .gallery-item,
#post-page .entry-content > p:first-of-type::first-letter,
#post-page #post-cats .categories-icon,
#gallery-post-page .entry-content .gallery-item,
#gallery-post-page .gallery-pictures-widget .widget-content a {
  margin-right: 7px;
}
.margin-left-xs,
#post-page .tag-list li {
  margin-left: 5px;
}
.margin-top-xs,
.entry-content .gallery-columns-3 .gallery-item,
.entry-content div[class*="columns-4"] .gallery-item,
#post-page .entry-content > p:first-of-type::first-letter,
#site-footer #site-info .description,
#comments .media .media-left p {
  margin-top: 5px;
}
.margin-left-sm,
#site-page .entry-content blockquote,
#post-page #post-content-header .post-author .post-author-name,
#post-page .author-info .author-title {
  margin-left: 15px;
}
.margin-left-md {
  margin-left: 30px;
}
.margin-md {
  margin: 30px;
}
.inner-auto-margin,
#custom-page #inner-content,
#gallery-post-page #quote-content,
#search-page #content,
#quote-post-page #quote-content,
#gallery-post-page #quote-content,
#search-page #content {
  margin-left: auto;
  margin-right: auto;
}
.no-margin,
#search-page .post-panel-heading .top-post-info {
  margin: 0px;
}
.margin-minus-left-md,
#post-page .entry-content h2 {
  margin-left: -30px;
}
.margin-minus-right-md {
  margin-right: -30px;
}
.margin-minus-bottom-md {
  margin-bottom: -30px;
}
.margin-minus-left-sm {
  margin-left: -15px;
}
.margin-minus-bottom-sm {
  margin-bottom: -15px;
}
.margin-minus-right-sm {
  margin-right: -15px;
}
.margin-minus-top-sm,
#search-page .post-panel-body {
  margin-top: -15px;
}
.font-small,
.entry-content figcaption.wp-caption-text,
#custom-header #inner-header #header-contact,
#front-page #services .service-body,
#custom-page .entry-content figure.alignleft .wp-caption-text,
#custom-page .post-summary,
#post-page .breadcrumb,
#comments .media .media-body time,
#search-page .post-panel-heading .top-post-info,
#search-page .post-panel-footer,
#custom-page #inner-content .post-thumbnail .post-thumbnail-caption,
#custom-page .breadcrumb,
#quote-post-page .entry-content footer,
#search-page .breadcrumb {
  font-size: 13px;
}
.font-large,
#front-page #site-banner #carousel .carousel-caption .page-header h1 {
  font-size: 60px;
}
.font-medium,
#site-page #primary-sidebar .widget .widget-title,
#post-page .post-excerpt,
#gallery-post-page .widget-icon {
  font-size: 24px;
}
.strong,
.entry-content table tr:hover,
#post-page #post-cats .categories-heading,
#post-page #post-cats .categories-icon,
#post-page .post-excerpt,
#gallery-post-page .entry-content .gallery-item:hover figcaption,
#link .primary:visited,
#site-footer #site-info .description,
#search-page .post-panel-footer .fa-fw,
a:visited,
#quote-post-page .tags-icon,
#quote-post-page .categories-icon {
  font-weight: 600;
}
.float-right,
.entry-content figure.alignright,
#quote-post-page .entry-content footer:before {
  float: right;
}
.float-left,
.entry-content figure.alignleft,
#primary-menu .navbar-collapse,
#front-page #contact .contact-icon,
#post-page .entry-content > p:first-of-type::first-letter,
#gallery-post-page .entry-content .gallery-item,
#gallery-post-page .gallery-pictures-widget .widget-content a,
#comments .comment-form-author,
#comments .comment-form-email,
#search-page .post-panel-heading .top-post-info li {
  float: left;
}
.float-none,
.entry-content figure.alignnone,
.entry-content figure.alignleft + :not(.alignleft),
.entry-content table,
#gallery-post-page .gallery-widgets:after,
#search-page #content,
#search-page .breadcrumb:after {
  clear: both;
  display: block;
}
.inline,
.entry-content .gallery-columns-3 .gallery-item,
.entry-content div[class*="columns-4"] .gallery-item,
#post-page .entry-content p > a:not(img),
#post-page .entry-content > p:first-of-type::first-letter,
#post-page .gallery-columns-2 .gallery-item,
#post-page .author-info .author-photo,
#post-page .author-info .author-title,
#post-page .categories-list li,
#post-page .tags-list,
#post-page .tag-list li,
#gallery-post-page .entry-content .gallery-item,
#gallery-post-page .gallery-pictures-widget .widget-content a,
#comments .media .media-body .list-inline .collapse.in,
#search-page .categories-list .post-categories li,
#search-page .tags-list .post-categories li,
#search-page .categories-list .tag-list li,
#search-page .tags-list .tag-list li,
#quote-post-page .tags-list,
#search-page .categories-list,
#search-page .tags-list,
#quote-post-page .categories-list {
  display: inline-block !important;
  width: auto;
  height: auto;
}
.middle,
#post-page .author-info .author-title,
#gallery-post-page .widget-icon,
#gallery-post-page .widget-text {
  vertical-align: middle;
}
.block,
.entry-content .gallery-columns-1 .gallery-item,
#post-page .entry-content p em:only-child,
#post-page .post-navigation .previous-post .previous-button,
#post-page .post-navigation .next-post .previous-button,
#post-page .post-navigation .previous-post .next-button,
#post-page .post-navigation .next-post .next-button {
  display: block;
}
.table-cell,
#gallery-post-page .widget-icon,
#gallery-post-page .widget-text {
  display: table-cell;
}
.relative,
.entry-content .gallery-item,
#sitehead #header-top,
#front-page #site-banner,
#site-page .entry-content blockquote,
#custom-page #page-sidebar .widget,
#post-page .post-content,
#post-page .post-entry,
#post-page .post-navigation .previous-post .previous-button,
#post-page .post-navigation .next-post .previous-button,
#post-page .post-navigation .previous-post .next-button,
#post-page .post-navigation .next-post .next-button,
#post-page .post-media,
#gallery-post-page #gallery-sidebar,
#gallery-post-page .gallery-widgets,
#tool-tip .tool-tip-box,
.mini-popup,
#site-footer #inner-footer,
#comments .media .media-body,
#search-page #content,
#search-page .post-panel,
#search-page .post-panel-heading,
#search-page .post-panel-body,
#search-page .post-panel-footer,
#quote-post-page .entry-content footer,
.tooltip-box-md {
  position: relative;
}
.absolute,
#site-page .entry-content blockquote:before,
#site-page .entry-content blockquote:after,
#custom-page #page-sidebar .widget:after,
#post-page .post-navigation .previous-post .previous-button .glyphicon,
#post-page .post-navigation .next-post .previous-button .glyphicon,
#post-page .post-navigation .previous-post .next-button .glyphicon,
#post-page .post-navigation .next-post .next-button .glyphicon,
#post-page .post-media .post-excerpt,
.more-icon {
  position: absolute;
}
.fixed,
.lightbox {
  position: fixed;
}
.no-overflow,
.container-fluid,
.container,
.entry-content .gallery-item,
#custom-page .entry-content,
#gallery-post-page .entry-content .gallery-item,
#gallery-post-page .entry-content .gallery-icon,
#gallery-post-page .gallery-image,
#gallery-post-page .gallery-pictures-widget .widget-content a {
  overflow: hidden;
}
.no-display,
.screen-reader-text,
#post-page .gallery-item figcaption {
  display: none !important;
}
.icon-large {
  font-size: 7em;
}
.text-center,
.entry-content figure.alignnone {
  text-align: center;
}
.text-justify,
#search-page .post-excerpts {
  text-align: justify;
}
.text-right,
#custom-page #inner-content .post-thumbnail .post-thumbnail-caption,
#search-page .post-panel-footer,
#quote-post-page .entry-content footer {
  text-align: right;
}
.text-uppercase,
.entry-content table th,
#post-page .entry-content h2 {
  text-transform: uppercase;
}
.text-capitalize,
#custom-page #inner-content .post-thumbnail .post-thumbnail-caption {
  text-transform: capitalize;
}
.no-text-decoration,
#button .button-md:hover,
#link .primary:visited,
#link .primary:hover,
a:visited,
a:hover,
#post-page .entry-content p > a:not(img):hover,
#post-page .post-navigation .previous-post .previous-button:hover,
#post-page .post-navigation .next-post .previous-button:hover,
#post-page .post-navigation .previous-post .next-button:hover,
#post-page .post-navigation .next-post .next-button:hover,
#post-page #post-cats .categories-list a[rel='category']:hover {
  text-decoration: none;
}
.oblique,
.entry-content figcaption.wp-caption-text,
#custom-page .post-summary,
#post-page #post-cats .cats-note,
#post-page .post-excerpt,
#site-footer #inner-footer #site-about,
#comments .media .media-body time,
#comments .media .media-heading .secondary,
#search-page .post-panel-heading .top-post-info {
  font-style: italic;
}
.full-width-image,
.entry-content figure.alignnone,
.entry-content .gallery-item img,
#site-page #page-content-header.has-thumbnail #page-media .wp-post-image,
#custom-page #inner-content .post-thumbnail img,
#custom-page .entry-content figure.alignleft a img,
#post-page .entry-content figure.alignleft img,
#post-page .entry-content figure.alignright img,
#post-page .entry-content figure.alignnone img,
#post-page img.wp-post-image,
#gallery-post-page .gallery-image img,
#search-page .post-thumbnail img,
#gallery-post-page .gallery-pictures-widget .widget-content img {
  width: 100% !important;
}
.auto-height,
.full-width-image,
.entry-content img[class*="align"],
.entry-content img[class*="wp-image-"],
#search-form .input-group .form-control,
.entry-content figure.alignnone,
.entry-content .gallery-item img,
#site-page #page-content-header.has-thumbnail #page-media .wp-post-image,
#custom-page #inner-content .post-thumbnail img,
#custom-page .entry-content figure.alignleft a img,
#post-page .entry-content figure.alignleft img,
#post-page .entry-content figure.alignright img,
#post-page .entry-content figure.alignnone img,
#post-page img.wp-post-image,
#gallery-post-page .gallery-image img,
#search-page .post-thumbnail img,
#gallery-post-page .gallery-pictures-widget .widget-content img {
  height: auto;
}
.max-full-width,
.entry-content img.size-full,
.entry-content img.size-large,
.entry-content figure.alignnone img,
.entry-content iframe[src*="youtube"],
.entry-content .gallery {
  max-width: 100% !important;
}
.full-width,
.entry-content .gallery-columns-1 .gallery-item,
#sitehead #header-top .alert-dismissable {
  width: 100%;
}
.entry-content {
  line-height: 24px;
}
.entry-content img.size-full,
.entry-content img.size-large {
  width: auto;
}
.entry-content figure.alignleft,
.entry-content figure.alignright {
  max-width: 48% !important;
}
.entry-content iframe[src*="youtube"] {
  min-height: 314px;
}
.entry-content .gallery-columns-3 .gallery-item,
.entry-content div[class*="columns-4"] .gallery-item {
  vertical-align: top;
}
.entry-content table {
  width: 100% !important;
  height: auto !important;
  border-collapse: collapse;
}
.entry-content table th,
.entry-content table td {
  vertical-align: top;
}
.entry-content table th {
  border-width: 2px;
}
#search-form .input-group .form-control {
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}
#search-form .input-group .btn {
  padding: 10px 20px;
}
/*
* header styles 
*
*/
#sitehead #header-top {
  z-index: 10;
}
#sitehead #header-top .alert-dismissable .close {
  right: 0px;
}
#sitehead #main-header #header-contact .header-contacts {
  padding: 5px 10px;
}
#sitehead #main-header .navbar-header .navbar-toggle {
  border: 2px solid #FF6600;
}
#custom-header #header-top {
  Padding-right: 20px;
}
#custom-header #inner-header .navbar-header .custom-logo {
  width: 45px;
  height: 45px;
}
#custom-header #inner-header #menu-icon li > a,
#sitehead #main-header #menu-icon li > a {
  padding: 5px;
}
#secondary-menu .nav-pills .menu-item a {
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid #FF6600;
  background-color: #fff;
}
#secondary-menu .nav-pills .menu-item {
  margin-right: 30px;
}
#secondary-menu .nav-pills .menu-item a:before {
  content: "#";
}
#secondary-menu .nav-pills .menu-item a:hover {
  background-color: #f8f8f8;
}
#primary-menu .custom-logo {
  width: 48px !important;
  height: 48px !important;
}
#primary-menu .navbar-collapse li > a {
  padding-top: 24px;
}
#primary-menu .navbar-header .navbar-brand {
  height: auto !important;
  padding: 0px !important;
  font-size: 24px;
}
#primary-icon-nav .fa {
  font-size: 18px;
}
.logo-small,
#site-footer #site-info .custom-logo {
  width: 60px;
  height: 60px;
}
.logo-md {
  width: 120px;
  height: 120px;
}
.logo-x {
  width: 180px;
  height: 180px;
}
.logo-xx {
  width: 240px;
  height: 240px;
}
/*
* front-page styles 
*
*/
#front-page #site-banner p {
  font-size: 20px;
}
#front-page #site-banner #carousel .carousel-image {
  width: 100% !important;
  height: 480px;
}
#front-page #site-banner #carousel .carousel-caption {
  top: 10px;
  right: 15%;
}
#front-page #services .service-icons {
  min-height: 250px;
}
#front-page #services .more-service-icons {
  min-height: 150px;
}
/*
* Styling pages 
*
*/
#site-page .entry-content blockquote:before,
#site-page .entry-content blockquote:after {
  font-family: 'FontAwesome';
}
#site-page .entry-content blockquote:before {
  content: "\f10d";
  top: 10px;
  left: 3px;
}
#site-page .entry-content blockquote:after {
  content: "\f10e";
  bottom: 10px;
  right: 3px;
}
#site-page #primary-sidebar .widget_abbey-contact-form {
  border-bottom-width: 20px;
}
#error-404-page .entry-content .page-header {
  font-size: 8em;
}
/*
* custom page template
*
*/
#custom-page #inner-content .post-thumbnail img {
  max-height: 480px;
}
#custom-page .entry-content {
  border-right-color: #ddd !important;
  border-bottom-color: #ddd !important;
  font-size: 15px;
  line-height: 2.0;
}
#custom-page .entry-content figure.alignleft,
#gallery-post-page .entry-content .gallery-item {
  border-color: #eee;
}
#custom-page .entry-content .well,
#custom-page .entry-content .panel-heading,
#custom-page .entry-content .panel-footer {
  border-color: #b34700;
}
#custom-page .entry-content .panel-default {
  border-color: #b34700;
}
#custom-page #page-sidebar .widget {
  -webkit-box-shadow: 0px 5px 5px 0px #e2e2e2;
  box-shadow: 0px 5px 5px 0px #e2e2e2;
}
#custom-page #page-sidebar .widget:after {
  content: "";
  border-width: 60px;
  border-style: solid;
  border-color: #f8f8f8 #f8f8f8 transparent transparent;
  top: -30px;
  right: 0px;
  z-index: 10;
}
#post-page #post-content-header .post-author .post-author-name {
  vertical-align: middle;
}
#post-page .breadcrumb li {
  display: inline;
}
#post-page .post-entry {
  overflow: hidden;
  border-color: #ddd;
}
#post-page .entry-content p > a:not(img) {
  border-bottom: 1px dotted #FF6600;
}
#post-page .entry-content > p:first-of-type::first-letter {
  font-size: 72px;
}
#post-page .entry-content h2 {
  border-left: 3px solid #b34700;
}
#post-page .gallery-item:hover figcaption {
  display: block !important;
}
#post-page .gallery-columns-2 .gallery-item {
  vertical-align: top;
}
#post-page figure:hover,
#post-page iframe[src*="youtube"]:hover {
  opacity: 0.5;
  filter: alpha(opacity=0.5);
  /* For IE8 and earlier */
}
#post-page .pagination li > a {
  border-color: #FF6600 !important;
}
#post-page .entry-footer {
  color: #000;
}
#post-page .post-navigation .glyphicon {
  font-size: 48px;
  top: 10%;
}
#post-page .post-navigation .previous-post .previous-button,
#post-page .post-navigation .next-post .previous-button,
#post-page .post-navigation .previous-post .next-button,
#post-page .post-navigation .next-post .next-button {
  padding-left: 80px !important;
  padding-right: 30px !important;
}
#post-page .post-navigation .previous-post .previous-button .glyphicon,
#post-page .post-navigation .next-post .previous-button .glyphicon,
#post-page .post-navigation .previous-post .next-button .glyphicon,
#post-page .post-navigation .next-post .next-button .glyphicon {
  left: 25px;
}
#post-page .post-navigation .next-post .next-button {
  padding-left: 30px !important;
  padding-right: 80px !important;
}
#post-page .post-navigation .next-post .next-button .glyphicon {
  left: 0px;
  right: 25px;
}
#post-page .author-info .author-title {
  width: 75%;
}
#post-page #post-cats .categories-heading,
#post-page #post-cats .categories-icon {
  font-size: 24px;
}
#post-page .tag-list li + li:before,
#quote-post-page .tag-list li + li:before,
#quote-post-page .post-categories li + li:before,
#search-page .categories-list .post-categories li + li:before,
#search-page .tags-list .post-categories li + li:before,
#search-page .categories-list .tag-list li + li:before,
#search-page .tags-list .tag-list li + li:before {
  content: "\00bb";
  padding: 0 5px;
}
#post-page .post-media .post-excerpt {
  top: 15%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.5);
}
#quote-post-page .breadcrumb li + li:before {
  content: "";
}
#gallery-post-page .entry-content .gallery-item {
  transition: all 2s linear 0s;
  -webkit-transition: all 2s linear 0s;
  -o-transition: all 2s linear 0s;
  -moz-transition: all 2s linear 0s;
}
#gallery-post-page .entry-content .gallery-item img {
  transition: all 2s ease-in-out 1s;
  -webkit-transition: all 2s ease-in-out 1s;
  -o-transition: all 2s ease-in-out 1s;
  -moz-transition: all 2s ease-in-out 1s;
}
#gallery-post-page .entry-content .gallery-item img:hover {
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
}
#gallery-post-page .gallery-image,
#gallery-post-page .gallery-pictures-widget .widget-content a {
  height: 120px;
}
#gallery-post-page .gallery-image img,
#gallery-post-page .gallery-pictures-widget .widget-content img {
  min-height: 130px;
}
#gallery-post-page .gallery-widgets {
  overflow: auto;
}
#gallery-post-page .gallery-pictures-widget .widget-content a {
  width: 46%;
}
#tool-tip .tool-tip-box::after,
.tooltip-box-md:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-style: solid;
}
.tooltip-box-md:after {
  border-width: 25px;
  border-color: #fff transparent transparent transparent;
  z-index: 50;
}
#box-shadow .box-shadow-small,
#site-page #primary-sidebar .widget_abbey-contact-form,
#custom-page .entry-content figure.alignleft,
#custom-page #page-content-header,
#post-page .post-entry,
#post-page .post-media .post-excerpt,
#quote-post-page .entry-content,
#sidebar-404 #latest-posts,
#sidebar-404 #quotes,
#quote-post-page #post-content-header,
#gallery-post-page .entry-content .gallery-item,
#gallery-post-page #post-content-header {
  -webkit-box-shadow: 0px 1px 2px 0px #e2e2e2;
  box-shadow: 0px 1px 2px 0px #e2e2e2;
}
#box-shadow .box-shadow-md,
#sitehead #header-top,
#quote-post-page .post-entry,
#comments,
#search-page #site-content-header,
#search-page .post-panel {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), 0px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#text-shadow .text-shadow-md,
#error-404-page .entry-content .page-header {
  text-shadow: 6px 6px 20px #FF6600;
  -webkit-text-shadow: 6px 6px 20px #FF6600;
  -o-text-shadow: 6px 6px 20px #FF6600;
}
#text-shadow .text-shadow-small,
#post-page .page-title,
#post-page .post-media .post-excerpt,
#gallery-post-page .page-title {
  text-shadow: 2px 2px 10px #FF6600;
  -webkit-text-shadow: 2px 2px 10px #FF6600;
  -o-text-shadow: 2px 2px 10px #FF6600;
}
#button .button-md,
#post-page .post-navigation .previous-post .previous-button,
#post-page .post-navigation .next-post .previous-button,
#post-page .post-navigation .previous-post .next-button,
#post-page .post-navigation .next-post .next-button,
#post-page #post-cats .categories-list a[rel='category'] {
  padding: 8px 16px;
  border-color: #FF6600;
  -webkit-box-shadow: 0px 2px 4px #FF6600;
  box-shadow: 0px 2px 4px #FF6600;
  transition: all 0.8s ease-in-out;
}
#button .button-md:hover,
#post-page .post-navigation .previous-post .previous-button:hover,
#post-page .post-navigation .next-post .previous-button:hover,
#post-page .post-navigation .previous-post .next-button:hover,
#post-page .post-navigation .next-post .next-button:hover,
#post-page #post-cats .categories-list a[rel='category']:hover {
  -webkit-box-shadow: 0px 3px 8px #b34700;
  box-shadow: 0px 3px 8px #b34700;
}
#link .primary:visited,
a:visited {
  border-bottom: 1px solid #FF6600;
}
#link .primary:hover,
a:hover,
#post-page .entry-content p > a:not(img):hover {
  border-bottom: 1px solid #b34700;
}
.zoom-cursor,
#post-page figure:hover a img,
#post-page iframe[src*="youtube"]:hover a img {
  cursor: zoom-in;
}
.no-list-style,
#post-page .tag-list,
#post-page .post-categories,
#quote-post-page .tag-list,
#quote-post-page .post-categories,
#search-page .post-panel-footer .post-categories,
#search-page .categories-list .tag-list,
#search-page .tags-list .tag-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.more-icon {
  right: 10px;
  top: 10px;
}
.mini-popup {
  padding: 20px;
  max-width: 85%;
  width: 500px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.3);
}
.mini-popup.slide-in-top {
  top: 35%;
  left: 25%;
  animation: slideintop 3s forwards;
}
@keyframes slideintop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
.lightbox {
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0px;
  left: 0px;
}
.fade-to {
  opacity: 0.2 !important;
  filter: alpha(opacity=0.2) !important;
  /* For IE8 and earlier */
}
.rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.flip-vertical,
#site-page .entry-content blockquote:before,
#site-page .entry-content blockquote:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
/*
* Sidebar styles 
*/
#sidebar-404 #quotes {
  background-color: #acacac;
}
/*
* footer styles 
*
*/
#site-footer {
  padding-top: 80px;
  box-shadow: 2px 0px 2px #b34700;
  webkit-box-shadow: 2px 0px 2px #b34700;
}
#site-footer #site-info #site-name {
  font-size: 32px;
  margin-left: 10px;
  vertical-align: middle;
}
#comments .parent {
  border-left: 3px solid #FF6600;
}
#comments .comment-form-author,
#comments .comment-form-email {
  width: 45%;
}
#search-page #content {
  opacity: 1;
  transition: opacity 0.8s ease-in-out 0s;
  -webkit-transition: opacity 0.8s ease-in-out 0s;
  -o-transition: opacity 0.8s ease-in-out 0s;
  -moz-transition: opacity 0.8s ease-in-out 0s;
}
#search-page .post-panel {
  line-height: 1.5em;
}
#search-page .breadcrumb:after {
  content: "";
}
#search-page .post-panel-heading .top-post-info li {
  margin-right: 20px;
}
#search-page .post-panel-footer .fa-fw,
#quote-post-page .tags-icon,
#quote-post-page .categories-icon {
  font-size: 20px;
}
/*
*
* media queries for responsive design 
*
*/
/* reponsive design for devices larger than 1027px */
@media (min-width: 1027px) {
  .pad-large-lg,
  .pad-large,
  #front-page .frontpage-sections {
    padding-left: 120px;
    padding-right: 120px;
  }
  .inner-pad-responsive,
  #post-page .author-info,
  #search-page #site-content-header {
    padding-left: 80px;
    padding-right: 80px;
  }
  .float-right-responsive {
    float: right;
  }
  .wid-70,
  #site-footer #inner-footer {
    width: 70% !important;
    clear: both;
  }
  .md-50,
  #post-page .post-media .post-excerpt,
  #site-footer #inner-footer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }
  .responsive-right-border,
  #custom-page .entry-content {
    border-right: 1px solid;
  }
  #primary-menu .navbar-collapse {
    width: 85%;
  }
  #custom-page #inner-content,
  #quote-post-page #quote-content,
  #gallery-post-page #quote-content,
  #search-page #content {
    width: 90%;
  }
  .no-padding-right-lg-screen {
    padding-right: 0px !important;
  }
  .page-title {
    font-size: 48px;
  }
  .half-largescreen,
  #post-page .gallery-columns-2 .gallery-item,
  #gallery-post-page .entry-content .gallery-item {
    width: 48%;
  }
  .third-largescreen,
  .entry-content .gallery-columns-3 .gallery-item,
  .entry-content div[class*="columns-4"] .gallery-item {
    width: 31%;
  }
}
/* responsive design for desktops i.e. between 769 and 1026px */
@media (min-width: 769px) and (max-width: 1026px) {
  .pad-large-md,
  .pad-large,
  #front-page .frontpage-sections {
    padding-left: 120px;
    padding-right: 120px;
  }
  .inner-pad-responsive,
  #post-page .author-info,
  #search-page #site-content-header {
    padding-left: 50px;
    padding-right: 50px;
  }
  .float-right-responsive {
    float: right;
  }
  .md-50,
  #post-page .post-media .post-excerpt,
  #site-footer #inner-footer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }
  .responsive-right-border,
  #custom-page .entry-content {
    border-right: 1px solid;
  }
  #main-header #header-contact {
    padding: 5px 15px 5px 15px;
  }
  .half-largescreen,
  #post-page .gallery-columns-2 .gallery-item,
  #gallery-post-page .entry-content .gallery-item {
    width: 48%;
  }
}
/* responsive design for tablets i.e between 768 and 460px */
@media (min-width: 469px) and (max-width: 768px) {
  .float-none-sm,
  #primary-menu .navbar-collapse,
  #primary-menu .navbar-header .navbar-brand {
    float: none;
  }
  .pad-large-sm,
  .pad-large,
  #front-page .frontpage-sections {
    padding-left: 60px;
    padding-right: 60px;
  }
  .inner-pad-responsive,
  #post-page .author-info,
  #search-page #site-content-header {
    padding-left: 45px;
    padding-right: 45px;
  }
  .service-icons {
    min-height: 300px !important;
  }
  .more-service-icons {
    min-height: 200px !important;
  }
  .float-right-responsive {
    float: left;
  }
  .md-50,
  #post-page .post-media .post-excerpt,
  #site-footer #inner-footer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }
  .responsive-right-border,
  #custom-page .entry-content {
    border-bottom: 1px solid;
  }
  #main-header #header-contact {
    padding: 5px 15px 5px 15px;
  }
  #primary-menu {
    padding-top: 5px;
  }
  #primary-menu .navbar-brand {
    padding-bottom: 5px;
  }
  #primary-menu .navbar-collapse {
    margin-left: -5px;
  }
  #primary-icon-nav {
    background-color: #FF6600;
  }
  #primary-icon-nav li {
    display: inline-block;
  }
  #site-banner #carousel .carousel-caption {
    left: 7% !important;
    right: 7% !important;
  }
  #site-banner #carousel .carousel-control {
    width: 10% !important;
  }
  #site-banner #carousel .carousel-image {
    height: 540px !important;
  }
  #site-banner #admin-profile {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 5px;
  }
  #site-banner #admin-profile #admin-info {
    text-align: left !important;
  }
  #site-banner #admin-profile #admin-picture img {
    width: 90px;
    height: 90px;
  }
  .half-tablets,
  .entry-content .gallery-columns-3 .gallery-item,
  .entry-content div[class*="columns-4"] .gallery-item {
    width: 46%;
  }
  .full-width-tablets {
    width: 100%;
  }
}
/* responsive styles for mobile phones i.e 468px and below */
@media (max-width: 468px) {
  .pad-large-xs,
  .pad-large,
  #front-page .frontpage-sections {
    padding-left: 30px;
    padding-right: 30px;
  }
  .full-width-xs,
  #comments .comment-form-author,
  #comments .comment-form-email {
    float: none;
    width: 100%;
    margin: auto;
  }
  .float-right-responsive {
    float: none;
  }
  .no-inner-padding-mobile,
  #custom-page .entry-content,
  #custom-page #page-sidebar,
  #search-page #search-results {
    padding-left: 0px;
    padding-right: 0px;
  }
  .inner-pad-responsive,
  #post-page .author-info,
  #search-page #site-content-header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .inner-padding-mobile,
  #post-page #content,
  #post-page #comments,
  #search-page #content,
  .post-panel .post-panel-heading,
  .post-panel .post-panel-body,
  .post-panel .post-panel-footer {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .md-50,
  #post-page .post-media .post-excerpt,
  #site-footer #inner-footer {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }
  .block-mobile {
    display: block !important;
  }
  .responsive-right-border,
  #custom-page .entry-content {
    border-bottom: 1px solid;
  }
  .service-icons {
    min-height: 300px !important;
  }
  .more-service-icons {
    min-height: 200px !important;
  }
  #main-header #header-contact {
    padding: 5px 15px 5px 15px;
  }
  .float-none-xs,
  #primary-menu .navbar-header .navbar-toggle,
  .entry-content,
  #primary-menu .navbar-collapse {
    float: none;
  }
  #primary-menu .navbar-header {
    padding: 10px 10px 40px 10px;
    text-align: center;
  }
  #primary-menu .navbar-header .navbar-brand {
    width: 100%;
    font-size: 36px;
  }
  #primary-menu .navbar-header .navbar-toggle {
    margin-top: 0px;
    top: 80px;
    position: absolute;
    left: 45%;
    border-radius: 100%;
    padding: 15px;
    background-color: #fff;
  }
  #primary-menu .navbar-header .navbar-toggle:hover,
  #primary-menu .navbar-header .navbar-toggle:active {
    background-color: #FF6600;
  }
  #inner-header #header-social-icons {
    text-align: center;
  }
  #inner-header .navbar-toggle {
    margin-top: 10px;
  }
  #primary-icon-nav li {
    display: inline-block;
  }
  .entry-content figure.alignleft {
    max-width: 45% !important;
  }
  .post-title {
    font-size: 36px;
  }
  .half-mobile,
  .entry-content .gallery-columns-3 .gallery-item,
  .entry-content div[class*="columns-4"] .gallery-item {
    width: 46%;
  }
  .full-width-mobile {
    width: 100%;
  }
  #post-page .post-excerpt {
    font-size: 14px;
  }
  #search-page #search-results {
    margin-top: 15px;
  }
  .breadcrumb li + li:before {
    content: " | ";
    padding: 15px 5px;
    display: inline-block;
  }
  .mini-popup {
    left: 5%;
  }
}
